<?xml version="1.0" encoding="utf-8"?>
<widget 
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.oxjno.lacerba"
	version="1.1"
	xmlns="http://www.w3.org/ns/widgets"
	defaultlocale="it-IT">

  <name>Lacerba</name>
  <description>Segui il videoblog di Lacerba.io</description>
  <author href="http://oxjno.com" email="info@oxjno.com">Oxjno Sviluppo Web</author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <!--<preference name="orientation" value="portrait" />-->
  <preference name="SplashScreen" value="screen" />
  <preference name="KeepRunning" value="false"/>
  <preference name="LoadUrlTimeoutValue" value="10000"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="InAppBrowserStorageEnabled" value="true"/>
  l
  <preference name="AndroidPersistentFileLocation" value="Internal" />

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  
  <platform name="android">
    <allow-intent href="market:*" />
    <icon src="res/icons/android/icon-36-ldpi.png" density="ldpi" />
    <icon src="res/icons/android/icon-48-mdpi.png" density="mdpi" />
    <icon src="res/icons/android/icon-72-hdpi.png" density="hdpi" />
    <icon src="res/icons/android/icon-96-xhdpi.png" density="xhdpi" />
    <icon src="res/icons/android/icon-96-xxhdpi.png" density="xxhdpi" />
    <icon src="res/icons/android/icon-96-xxxhdpi.png" density="xxxhdpi" />
    <splash src="res/screens/android/screen-hdpi-landscape.png" density="land-hdpi" />
    <splash src="res/screens/android/screen-ldpi-landscape.png" density="land-ldpi" />
    <splash src="res/screens/android/screen-mdpi-landscape.png" density="land-mdpi" />
    <splash src="res/screens/android/screen-xhdpi-landscape.png" density="land-xhdpi" />
    <splash src="res/screens/android/screen-hdpi-portrait.png" density="port-hdpi" />
    <splash src="res/screens/android/screen-ldpi-portrait.png" density="port-ldpi" />
    <splash src="res/screens/android/screen-mdpi-portrait.png" density="port-mdpi" />
    <splash src="res/screens/android/screen-xhdpi-portrait.png" density="port-xhdpi" />
    <splash src="res/screens/android/screen-xxhdpi-portrait.png" density="port-xxhdpi" />
    <splash src="res/screens/android/screen-xxxhdpi-portrait.png" density="port-xxxhdpi" />
  </platform>

  <!-- Support for Cordova 5.0.0 plugin system -->
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-plugin-dialogs" source="npm" />
  
  
</widget>