<?xml version="1.0" encoding="utf-8"?>
<widget 
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.oxjno.lacerba"
	version="1.2"
	xmlns="http://www.w3.org/ns/widgets"
	defaultlocale="it-IT">

  <name>Lacerba</name>
  <description>Segui il videoblog di Lacerba.io</description>
  <author href="http://oxjno.com" email="info@oxjno.com">Oxjno Sviluppo Web</author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <preference name="orientation" value="default" />
  
  <preference name="SplashScreenDelay" value="3000" />
  <preference name="AutoHideSplashScreen" value="true" />  
  <preference name="SplashScreen" value="res/screen/android" />
  <preference name="SplashScreen" value="splash" />  
  <preference name="SplashMaintainAspectRatio" value="true" />
  
  <splash src="splash.png" />
  <icon src="icon.png" />
  
  
  <preference name="KeepRunning" value="false"/>
  <preference name="LoadUrlTimeoutValue" value="30000"/>
  <preference name="InAppBrowserStorageEnabled" value="true"/>
  l
  <preference name="AndroidPersistentFileLocation" value="Internal" />

  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  
<platform name="ios">
	<!-- iPhone 6 / 6+ -->
	<icon src="res/icons/ios/icon-60@3x.png" platform="ios" width="180" height="180" />
	<!-- iPhone / iPod Touch  -->
	<icon src="res/icons/ios/icon-60.png" platform="ios" width="60" height="60" />
	<icon src="res/icons/ios/icon-60@2x.png" platform="ios" width="120" height="120" />
	<!-- iPad -->
	<icon src="res/icons/ios/icon-76.png" platform="ios" width="76" height="76" />
	<icon src="res/icons/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
	<icon src="res/icons/ios/icon-83.5@2x.png" platform="ios" width="167" height="167" />
	<!-- Settings Icon -->
	<icon src="res/icons/ios/icon-small.png" platform="ios" width="29" height="29" />
	<icon src="res/icons/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
	<icon src="res/icons/ios/icon-small@3x.png" platform="ios" width="87" height="87" />
	<!-- Spotlight Icon -->
	<icon src="res/icons/ios/icon-40.png" platform="ios" width="40" height="40" />
	<icon src="res/icons/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
	<icon src="res/icons/ios/icon-40@3x.png" platform="ios" width="120" height="120" />
	
	<!-- iPhone and iPod touch -->
	<splash src="res/screens/ios/screen-iphone-portrait.png" platform="ios" width="320" height="480" />
	<splash src="res/screens/ios/screen-iphone-portrait-2x.png" platform="ios" width="640" height="960" />
	<!-- iPhone 5 / iPod Touch (5th Generation) -->
	<splash src="res/screens/ios/screen-iphone-portrait-568h-2x.png" platform="ios" width="640" height="1136" />
	<!-- iPhone 6 -->
	<splash src="res/screens/ios/screen-iphone-portrait-667h.png" platform="ios" width="750" height="1334" />
	<splash src="res/screens/ios/screen-iphone-portrait-736h.png" platform="ios" width="1242" height="2208" />
	<!-- iPad -->
	<splash src="res/screens/ios/screen-ipad-portrait.png" platform="ios" width="768" height="1024" />
</platform>
  
  <platform name="android">
    <allow-intent href="market:*" />
    <icon src="res/icons/android/icon-36-ldpi.png" qualifier="ldpi" />
    <icon src="res/icons/android/icon-48-mdpi.png" qualifier="mdpi" />
    <icon src="res/icons/android/icon-72-hdpi.png" qualifier="hdpi" />
    <icon src="res/icons/android/icon-96-xhdpi.png" qualifier="xhdpi" />
    <icon src="res/icons/android/icon-144-xxhdpi.png" qualifier="xxhdpi" />
    <icon src="res/icons/android/icon-192-xxxhdpi.png" qualifier="xxxhdpi" />
    <splash src="res/screens/android/screen-hdpi-portrait.png" qualifier="port-hdpi" />
    <splash src="res/screens/android/screen-ldpi-portrait.png" qualifier="port-ldpi" />
    <splash src="res/screens/android/screen-mdpi-portrait.png" qualifier="port-mdpi" />
    <splash src="res/screens/android/screen-xhdpi-portrait.png" qualifier="port-xhdpi" />
    <splash src="res/screens/android/screen-xxhdpi-portrait.png" qualifier="port-xxhdpi" />
    <splash src="res/screens/android/screen-xxxhdpi-portrait.png" qualifier="port-xxxhdpi" />
    <preference name="SplashScreen" value="splash" />
  </platform>
  
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-dialogs" source="npm" />
  <plugin name="cordova-plugin-splashscreen" source="npm">
      <preference name="SplashScreen" value="splash" />
      <preference name="AutoHideSplashScreen" value="true" />
      <preference name="SplashScreenDelay" value="3000" />
      <preference name="SplashMaintainAspectRatio" value="true" />
      <preference name="FadeSplashScreen" value="false"/>
      <preference name="ShowSplashScreenSpinner" value="false" />
  </plugin>  
  
</widget>